<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>个人博客</title>
</head>
<body>
  {{template "front/header.html" .}}

<main>

  <aside>
    <div class="search">
      <form action="">
        <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
        <input name="show" value="title" type="hidden">
        <input name="tempid" value="1" type="hidden">
        <input name="tbname" value="news" type="hidden">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    
    <div class="paihang">
      <h2 class="aside_title">热门</h2>
      <ol start="1">
        <li>
          <a href="/" target="_blank">
            每个人的生命里都一定会有这么一个人，他告诉我们什么是爱
          </a>
        </li>
      </ol>
    </div>
    <div class="links">
      <h2 class="aside_title">友情链接</h2>
      <ul>
        <li><a href="https://www.bilibili.com/" target="_blank">哔哩哔哩</a></li>
        <li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
      </ul>
    </div>
  </aside>
</main>

{{template "front/footer.html" .}}
</body>
</html>