<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/front/register.css">
    <script type="text/javascript" src="../../static/js/jquery-3.6.0.js"></script>
    <title>注册</title>
</head>

<body>
    <form class="reg" id="reg">
        <div class="reg_Head">
            <p>用户注册</p>
        </div>
        <div class="reg_zw">
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>用户名</label>
                </div>
                <div class="usernameDiv">
                    <input id="reg_Username" class=" adminInput" type="text" name="username" placeholder="输入用户名"
                        autofocus>
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>密&nbsp&nbsp&nbsp&nbsp码</label>
                </div>
                <div class="passwordDiv">
                    <input id="reg_Password" class=" adminInput" type="password" name="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>确认密码</label>
                </div>
                <div class="passwordDiv">
                    <input id="confirmpwd" class=" adminInput" type="password" name="repassword"
                        placeholder="请再次输入密码">
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="registerBtn">
                    <input id="registerBtn" type="button" value="注册"></input>
                </div>
            </div>
        </div>
    </form>

    <script>

        function checkUser() {
            var value = document.getElementById("reg_Username").value;
            if (!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)) {
                alert('用户名不能有特殊字符')
                document.getElementById("reg_Username").focus();
                document.getElementById("reg_Username").select();
                return;
            } else if (/(^\_)|(\__)|(\_+$)/.test(value)) {
                alert()
                document.getElementById("reg_Username").focus();
                document.getElementById("reg_Username").select();
                return;
            } else if (/^\d+\d+\d$/.test(value)) {
                alert('用户名不能全为数字')
                document.getElementById("reg_Username").focus();
                document.getElementById("reg_Username").select();
                return;
            } else {
                $.ajax({
                    url: '/register',
                    type: 'get',
                    data: "username=" + value,
                    dataType: 'application/x-www-form-urlencoded',
                    success: function (data) {
                        if (data.code == 200) {
                            alert(data.message)
                            //获得焦点
                            document.getElementById("reg_Username").focus();
                            document.getElementById("reg_Username").select();
                        } else {
                            alert(data.message)
                        }
                    }
                })
            }

        }

        function checkPwd() {
            var value = document.getElementById("reg_Password").value;
            if (value.length < 6 || value.length > 12) {
                alert('密码必须6到12位，且不能出现空格');
                $("#reg_Password").val("");
                $("#reg_Password").focus();
            }
        }

        function confirm() {
            var value = document.getElementById("confirmpwd").value;
            if ($('input[name=reg_Password]').val() !== value) {
                alert('两次密码输入不一致！');
                document.getElementById("confirmpwd").focus();
                document.getElementById("confirmpwd").select();
            }
        }



        $(function () {
            $('#registerBtn').click(function (e) {
                // e.preventDefault()
                $.ajax({
                    type: 'post',
                    url: '/register',
                    dataType: 'json',
                    data: $('#reg').serialize(),
                    contentType: 'application/x-www-form-urlencoded',
                    processData: false,
                    success: function (data) {
                        if (data.Code == 200) {
                            alert('注册成功，点击确定跳转登录')
                            window.location.href = "/login"
                        } else {
                            alert(data.Msg)
                        }
                    }
                })

            })
        })


    </script>
</body>

</html>