<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/front/register.css">
    <script type="text/javascript" src="../../static/js/jquery-3.6.0.js"></script>
    <title>注册</title>
</head>

<body>
    <form class="reg" id="reg">
        <div class="reg_Head">
            <p>用户注册</p>
        </div>
        <div class="reg_zw">
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>用户名</label>
                </div>
                <div class="usernameDiv">
                    <input id="reg_Username" class=" adminInput" type="text" name="username" onblur="checkUser()"
                        placeholder="输入用户名" autofocus>
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>密&nbsp&nbsp&nbsp&nbsp码</label>
                </div>
                <div class="passwordDiv">
                    <input id="reg_Password" class=" adminInput" type="password" name="password" onblur="checkPwd()"
                        placeholder="请输入密码">
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>确认密码</label>
                </div>
                <div class="passwordDiv">
                    <input id="confirmpwd" class=" adminInput" type="password" name="repassword" onblur="confirm()"
                        placeholder="请再次输入密码">
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="registerBtn">
                    <input id="registerBtn" type="button" value="注册"></input>
                </div>
            </div>
        </div>
    </form>

    <script>

        function checkUser() {
            var username = document.getElementById("reg_Username").value;
            if (!new RegExp("^[a-zA-Z0-9-_]{5,10}$").test(username)) {
                alert('用户名只能使用字母，数字，下划线，长度为5-10')
                return;
            } else {
                $.ajax({
                    url: '/regUser',
                    type: 'get',
                    data: "username=" + username,
                    // dataType: 'application/x-www-form-urlencoded',
                    // dataType: 'json',
                    // processData: false,
                    // async: false,
                    success: function (data) {
                        console.log(data);
                        if (data.Code != 200) {
                            alert("用户名已存在，麻烦重新输入")
                            document.getElementById("reg_Username").value = "";
                        } else {

                        }
                    }
                })
            }

        }

        function checkPwd() {
            var username = document.getElementById("reg_Password").value;
            if (username.length < 5 || username.length > 10) {
                alert('密码必须5到10位,且不能出现空格');
                $("#reg_Password").val("");
                $("#reg_Password").focus();
            }
        }

        function confirm() {
            var username = document.getElementById("confirmpwd").value;
            if ($('input[name=reg_Password]').val() !== username) {
                alert('两次密码输入不一致！');
                document.getElementById("confirmpwd").focus();
                document.getElementById("confirmpwd").select();
            }
        }



        $(function () {
            $('#registerBtn').click(function () {
                // e.preventDefault()
                $.ajax({
                    type: 'post',
                    url: '/register',
                    dataType: 'json',
                    data: $('#reg').serialize(),
                    contentType: 'application/x-www-form-urlencoded',
                    processData: false,
                    success: function (data) {
                        if (data.Code == 200) {
                            alert('注册成功，点击确定跳转登录')
                            window.location.href = "/login"
                        } else {
                            alert(data.Msg)
                        }
                    }
                })

            })
        });


    </script>
</body>

</html>